<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
    
    <title>fspace - api docs</title>

    <style>
      .container {
        padding-top: 1em; }

      .table-head {
        font-weight: bold; }
      .table-row {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        border-top: 1px solid #E1E1E1; }
      
      .card {
        padding: 1em 1em 0em 1em;
        margin-top: 2em;
        border: 1px solid #33C3F0;
        border-radius: 5px; }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="table-head twelve columns">
          <div class="one column">level</div>
          <div class="two columns">route</div>
          <div class="nine columns">description</div>          
        </div>

        <% functions.forEach((func) => { %>

          <div class="table-row twelve columns">
            <div class="one column"><%= func.level %></div>
            <div class="two columns">
              <a href="/api/<%= func.name %>">/<%= func.name %></a>
            </div>
            <div class="nine columns"><%= func.description %></div>
          </div>

        <% }) %>

        <% if (hidden) { %>
          <div class="table-foot twelve columns">
            <%= hidden %> function(s) hidden due to insufficient privileges.      
          </div>
        <% } %>

        <div class="twelve columns card">
          <form method="POST" action="/api/key/generate">
            <% if (locals.message && message.length) { %>
              <label class="alert">
                <%= message %>
              </label>
            <% } %>

            <label class="muted">
              Generate an API key for use of the API without having a logged in 
              session.
            </label>
            <div class="row">
              <label class="two columns" for="levelInput">Access Level: </label>
              <label class="four columns" for="descriptionInput">Description: <small class="muted">(Optional)</small></label>            
            </div>
            <div class="row">
              <input id="levelInput" class="two columns" type="text" name="level">
              <input id ="descriptionInput" class="ten columns" type="text" name="description">
            </div>
            <input type="submit" class="button-primary" value="Generate">
          </form> 
        </div>

        <% if (locals.keys && keys.length) { %>
          <div class="twelve columns card">
            <p><b>Your API keys: </b></p>
            <p>
              <% keys.forEach((key) => { %>
                  Key: <b><%= key.key %></b> 
                  Level: <b><%= key.level %></b> 
                  Description: <b><%= key.description %></b>
                  <span class="u-pull-right">
                    <a href="/api/key/delete/<%= key.key %>">Delete</a>
                  </span>
                  </br>
              <% }) %>
            </p>
          </div>
        <% } %>
      </div>

      <%- include('partials/footer') %>
    </div>
  </body>
</html>
