<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
    
    <title>fspace - <%= locals.status || 'error' %></title>

    <style>
    </style>
  </head>

  <body>
    <%
      if (locals.err) { // Error object.
        locals.message = err.message;
      }

      if (!locals.message) {
        locals.message = 'Something exploded.';
      }

      if (!locals.data) {
        locals.data = {};
      }
    %>

    <div class="container vertical-parent">
      <div class="row">
        <p class="<%= message.length <= 50 ? 'bold' : '' %>">
          <%= message %>

          <% if (locals.details) { %>
            <br><span class="muted"><%= details %></span>
          <% } %>
        </p>

        <p>
          <% for (const name in data) { %>
            <%= name %>: <%= data[name] %></br>
          <% } %>
        </p>
      </div>

      <%- include('partials/footer') %>      
    </div>
  </body>
</html>
