<% for (const chap of chapters) { %>
  <div class="chapter">
    <h3 class="fiction-title"><%= chap.title %></h3>

    <% if (chap.preNote) { %>
      <div class="note">
        <%- chap.preNote %>
      </div>
    <% } %>
    
    <%- chap.content %>

    <% if (chap.postNote) { %>
      <div class="note">
        <%- chap.postNote %>
      </div>
    <% } %>
  </div>
<% } %>

<div class="next">
  <code>
    <a href="./?fiction=<%= fiction %>&page=<%= parseInt(page) + 1 %>&size=<%= size %>">/?fiction=<%= fiction %>&page=<%= page + 1 %>&size=<%= size %></a>
  </code>
</div>