<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
    
    <title>00 - api docs</title>

    <style>
      .container {
        margin-top: 1em }
    </style>
  </head>

  <body>
    <div class="container">
      <% functions.forEach(func => { %>
        <a href="/api<%= func.route %>"><%= func.route %></a> - 
        <%= func.name %>() - 
        <%= func.description %>
        </br>
      <% }) %>
    </div>
  </body>
</html>
