<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
    
    <title>00 - index</title>

    <style>
      .container {
        margin-top: 1em }
    </style>
  </head>

  <body>
    <div class="container">
      Welcome <b><%= user.username %></b>, 
      your access level is <b><%= user.access %></b>. 
      <span class="u-pull-right"><a href="<%= root %>logout">logout</a></span><br>

      <div>
        <a href="<%= root %>api">/api</a><br>
        <a href="<%= root %>idler">/idler</a>
      </div>
    </div>
  </body>
</html>
